*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Nunito',"monospac";
}
/*----------------- Start navbar Section -----------------*/

.navbar-brand{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.nav-link{ 
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .05rem;
}
.nav-item{
    padding: 0 20px;
    border-right: 1px solid hsla(0,0%,100%,.2);
    line-height: 70px;
}
.navbar{
    
    border-bottom:1px solid hsla(0,0%,100%,.2);
    padding: 0px;

}
.navbar-nav{
    border-left: 1px solid hsla(0,0%,100%,.2);
}

.activee{
    background-color: #dc965a;
}
/*----------------- End navbar Section -----------------*/

/* ------------------- Strat hero-section ---------------- */
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent) ,url(assets/img/asset\ 14.jpeg);
    background-size:cover;
    background-position:center;
    overflow: hidden;
    position: relative;
}
.banner{
    color:#fff;
}
.banner h1{
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner h6{
    font-size: 25px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;
}
.banner h2{
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}
#flip {
    height:50px;
    overflow:hidden;
  }
  h2{
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    margin: 0;
  }
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
    font-size:38px ;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
.top-style{
    position: absolute;
    width: 400px;
    top: -100px;
    left: -50px;  
    color: #dc965a;
    animation: rotate-both-side 4s infinite both;
}
.bottom-style{
    position: absolute;
    width: 400px;
    bottom: -100px;
    right: -50px;
    color: #dc965a;
    animation: rotate-both-side 4s infinite both;
}
.social-icons{
    position: absolute;
    right: 40px;
    bottom: 30px;
}
.social-icons a{
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    line-height: 35px;
    color: #1c1d24;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}
@keyframes rotate-both-side{
    0%{
        transform: rotate(-5deg)

    }
    50%{
        transform: rotate(5deg)

    }
    100%{
        transform: rotate(-5deg)
    }
}

/* ------------------- End Hero Section ------------------ */

/* ---------------------Start About Section--------------- */
.about-bg{
    background: rgb(220,150,90);
background: linear-gradient(90deg, rgba(220,150,90,1) 32%, rgba(255,255,255,1) 32%);
width: 100%;
padding: 100px 0;
/* height: 100vh; */
}
.img-box{
    position: relative;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background: #fff5ec;
    padding: 10px;
    position: relative;
    background: #fff5ec;
  
}
.text-bg{
    color: #dc965a;
}

.med1 label{
    margin: 0;
    color: #090a0c;
    font-weight: 700;
    font-size: 15px;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
}
.med1 p{
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 15px;
}
.med1{
    padding: 10px 0;
    line-height: normal;
}
.btn-bar{
    padding-top: 12px;
}
.btn{
    border: none;
}
.btn-theme{
    background-color: #dc965a;
    position: relative;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0 25px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    box-shadow:0 25px 50px -12px rgb(0 0 0 / 25%);
}
.btn-theme.btn-background-left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color:#090a0c;
    transform-origin:right;
    transition: all .35s ease;
    transform: scaleX(0);
    
} 
.btn-theme.btn-background-left:hover::before,
.btn-theme.btn-background-left:focus::before{
    transform: scaleX(1);
}
.btn-theme.btn-background-left{
z-index: 1;
}
.content-side{
    padding-left: 40px;
}
.content-side h3{
    font-size: 40px;
    font-weight: 700;
    color: #1c1d24;
    margin-bottom: 15px;
}
.content-side h5{
    font-size: 18px;
    font-weight: 600;
    color: #1c1d24;
    margin-bottom: 20px;
}
.content-side p{
    color: #5e6472;
    font-family: "Nunito",monospac;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
}
.about-list{
    padding: 10px 0 15px
}

/*------------------------------------Start Service Section----------------------------------*/
.service-bg{
    background:#fff5ec ;
}
.font-alt{
    font-size: 45px;
    color: #1c1d24;
    font-weight: 800;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
}
.font-alt:after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.service-bg p{
    margin: 0;
    font-size: 17px;
}
.feature-box{
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 15% 12%;
    position: relative;
    z-index: 1;
}
.card-body{
    position: relative;
    z-index: 9;
}
.feature-box:hover {
    color: #fff;
}
.feature-box:hover i{
    color: #fff;

}
.feature-box::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   transform-origin:top;
   transition: all .5s ease-in-out;
   background: #dc965a;
   z-index: -1;
   opacity: .8;
   transform: scaley(0);   
}
.feature-box:hover::after,
.feature-box:focus::after{
    transform: scaley(1);
}
.feature-box:hover::after{
    z-index: 1;    
}
.feature-box .icon{
    width: 60px;
    height: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    color: #dc965a;
}
/*------------------------------------Start Service Section----------------------------------*/

/*------------------------------------Start Expirence Section--------------------------------*/
.tital h4{
    position: relative;
    padding: 10px 0px;
}
.tital{
    padding: 10px 0px;
}
.tital h4::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
   
    display: inline-block;
}
.eduction-box-1{
    margin: 0;
    list-style: none;
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background-color: #dc965a;
}
.eduction-box-1 h6{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}
.eduction-box-1 span{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 1;
}
.eduction-box-1 p{
    margin: 0;
    color: hsla(0,0%,100%,.8);
}
.top-bar{
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px dashed hsla(0,0%,100%,.2)
}
.eduction-box-2{
    margin: 0;
    list-style: none;
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}
.eduction-box-2 .box-li{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 1;
    background-color: #dc965a;
}
.eduction-box-3{
    min-height: calc(100% - 73px);
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    background-color: #fff5ec;
}
.progress-title {
    font-size: 16px;
    margin: 0 0 8px;
    color: #1c1d24;
    line-height: 28px;
    font-weight: 600;

}
.progress {
    height: 10px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
    
}
.progress .progress-bar {
    background-color: #dc965a;
    position: relative;
}
 .progress-value {
    position: absolute;
    right: 0;
    bottom: 15px;
    background: #1c1d24;
    padding: 2px 6px;
    color: #fff !important;
    font-size: 10px;
    font-weight: 600;
}


/*------------------------------------End Expirence Section--------------------------------*/

/*------------------------------------Start Portfolio Section-----------------------------*/
.bg-gallery{
    background-color:#fff5ec ;
}
img{
	max-width: 100%;
	vertical-align: middle;
}
/*.gallery*/
.gallery{
	width: 100%;
	display: block;
	min-height: 100vh;
	/* background-color: #2a2932; */
	padding: 100px 0;
}
.gallery .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
   
}
.gallery .gallery-filter .filter-item{
	color:black;
	font-size: 17px;
  border: 2px solid white;
	text-transform: uppercase;
	display: inline-block;
  margin-right: 8px;
	cursor: pointer;
  padding: 8px 20px 8px 20px;
	line-height: 1.2;
	transition: all 0.3s ease;
}
.gallery .gallery-filter .filter-item.active{
	color:black;
	border-bottom :1px solid #dc965a;
  /* background: #16b5ef; */
}
.gallery .gallery-item{
	width: calc(100% / 3);
	padding: 15px;

}
.gallery .gallery-item-inner img{
	width: 100%;
  border: 3px solid #d4dad9;
}
.gallery .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 491px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 467px){
    .gallery .gallery-item{
		width: 100%;
	}
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}
  